// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out, color #{_duration(transition)} ease-in-out');
		background-color: _palette(accent2, bg);
		border-radius: 0;
		border: 0;
		color: _palette(accent2, fg-bold) !important;
		cursor: pointer;
		display: inline-block;
		font-weight: _font(weight-bold);
		height: 2.5em;
		line-height: 2.55em;
		padding: 0 1.7em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			background-color: lighten(_palette(accent2, bg), 10);
		}

		&:active {
			background-color: darken(_palette(accent2, bg), 10);
		}

		&.invert {
			color: _palette(accent2, bg) !important;
			background-color: _palette(accent2, fg-bold);

			&:hover {
				background-color: lighten(_palette(accent2, fg-bold), 10);
			}
			&:active {
				background-color: darken(_palette(accent2, fg-bold), 10);
			}
		}

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}

		&.big {
			font-size: 1.35em;
		}

		&.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 (_size(border-width) * 2) _palette(border);
			color: _palette(fg-bold) !important;

			&:hover {
				background-color: _palette(border-bg);
			}

			&:active {
				background-color: _palette(border2-bg);
			}

			&.icon {
				&:before {
					color: _palette(fg-light);
				}
			}

			&.invert {
				background-color: _palette(fg);
				color: _palette(bg) !important;
				&:hover {
					background-color: lighten(_palette(fg), 10);
				}
				&:active {
					background-color: darken(_palette(fg), 10);
				}
			}
		}

		&.special {
			background-color: _palette(accent1, bg);
			color: _palette(accent1, fg-bold) !important;

			&:hover {
				background-color: lighten(_palette(accent1, bg), 10);
			}

			&:active {
				background-color: darken(_palette(accent1, bg), 10);
			}

			&.invert {
				background-color: _palette(accent1, fg-bold);
				color: _palette(accent1, bg) !important;
				&:hover {
					background-color: _palette(accent1, bg);
					color: _palette(accent1, fg-bold) !important;
				}

				&:active {
					background-color: darken(_palette(accent1, bg), 10);
					color: _palette(accent1, fg-bold) !important;
				}
			}
		}

		&.social {
			&.facebook {
				background-color: #3b5999;
				color: _palette(accent1, fg-bold) !important;
				&:hover {
					background-color: lighten(#3b5999, 5);
				}
				&:active {
					background-color: darken(#3b5999, 5);
				}
			}
			&.twitter {
				background-color: #55acee;
				color: _palette(accent1, fg-bold) !important;
				&:hover {
					background-color: lighten(#55acee, 5);
				}
				&:active {
					background-color: darken(#55acee, 5);
				}
			}
			&.youtube {
				background-color: #e52d27;
				color: _palette(accent1, fg-bold) !important;
				&:hover {
					background-color: lighten(#e52d27, 5);
				}
				&:active {
					background-color: darken(#e52d27, 5);
				}
			}
			&.google-plus {
				background-color: #dc4e41;
				color: _palette(accent1, fg-bold) !important;
				&:hover {
					background-color: lighten(#dc4e41, 5);
				}
				&:active {
					background-color: darken(#dc4e41, 5);
				}
			}
		}

		&.disabled,
		&:disabled,
		&.disabled:hover,
		&.disabled.invert,
		&.disabled.invert:hover {
			background-color: _palette(fg) !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0,0,0,0.15);
			color: _palette(bg) !important;
			cursor: default;
			opacity: 0.25;
		}

		@include breakpoint(xsmall) {
			padding: 0;
		}
	}
