// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
			.data-value {
				vertical-align: sub;
				font-weight: bold;
			}
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: 0;
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 3em;
			position: relative;

			li {
				// display: inline-block;
				// padding: 0 1em 0 0;
				* {
					color: _palette(fg);
					text-decoration: none;
				}
				&:last-child {
					padding-right: 0;
				}
				.fa {
					position: absolute;
					left: 0;
					width: 1em;
					text-align:center;
					color: _palette(fg-light);
				}
			}
		}

		&.quick-contact-list {
			cursor: default;
			display: inline-block;
			list-style: none;
			padding-left: 0;
			margin: 0;
			float: right;
			@include valign_center();
			li {
				line-height: 1.2;
				position: relative;
				margin: 0 2em;
				padding-left: 2em;
				font-size: 14px;
				display: inline-block;
				float: left;
				text-align: left;

				i.fa {
					position: absolute !important;
					left: -0.3em;
					text-align: right;
					width: 28px;
					@include valign_center();
				}
			}
			@include breakpoint(large) {
				li {
					margin: 0 1em;
				}
			}
			@include breakpoint(medium) {
				float:none;
				li {
					float: none;
					margin-bottom: 1em;
				}
			}
			@include breakpoint(small) {

			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 (_size(element-margin) * 0.5) 0 0;
				vertical-align: middle;
				position: relative;
				&:last-child {
					padding-right: 0;
				}
			}

			&.small {
				li {
					padding: 0 (_size(element-margin) * 0.25) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: (_size(element-margin) * 0.5) 0 0 0;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.fit {
				display: table;
				margin-left: (_size(element-margin) * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{(_size(element-margin) * 0.5)});

				li {
					display: table-cell;
					padding: 0 0 0 (_size(element-margin) * 0.5);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: (_size(element-margin) * -0.25);
					width: calc(100% + #{(_size(element-margin) * 0.25)});

					li {
						padding: 0 0 0 (_size(element-margin) * 0.25);
					}
				}
			}

			@include breakpoint(xsmall) {
				margin: 0 0 _size(element-margin) 0;

				li {
					padding: (_size(element-margin) * 0.5) 0 0 0;
					display: block;
					text-align: center;
					width: 100%;

					&:first-child {
						padding-top: 0;
					}

					> * {
						width: 100%;
						margin: 0 !important;

						&.icon {
							&:before {
								margin-left: -2em;
							}
						}
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}
			&.icons {
				padding-left: 0;
				position:relative;
				li {
					padding: 0 0.5em 0 1.5em;
					.fa.fa-lg {
						position: absolute;
						left: 0;
						top: 4px;
					}
					&:last-child {
						padding-right: 0;
					}

				}
				@include breakpoint(small) {
					margin-top: 1em;
					li {
						padding: 0 0.3 0 1em;
					}
				}
				@include breakpoint(xsmall) {
					li {
						.fa {
							display: none;
						}
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 _size(element-margin) 0;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}
