// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			color: _palette(fg-light);
			position: relative;
			margin: 0;
		}

		h2 + p {

			margin-top: (_size(element-margin) * -0.8);
			font-size: 1.1em;
    	// 	margin-top: -1.6em;
		}

		h3 + p {
			font-size: 0.9em;
			margin-top: (_size(element-margin) * -0.6);
		}

		h4 + p,
		h5 + p,
		h6 + p {
			font-size: 0.7em;
			margin-top: (_size(element-margin) * -0.5);
		}
	}
